* {
    background-color: #282C34;
    font-family: "Times New Roman", serif, sans-serif;
}

body {
    color: #E2656E; 
}

a:link {
    text-decoration: none;
    color: #E2656E; 
    white-space: pre;
}

.title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.container {
    margin-right: 39px;
}

.links-list a {
    background-color: #2D4156;
    width: 335px;
    margin: 0em 0.5em;
    font-size: 32px;
    display: inline-block;
}

.links-list a:hover {
    color: #fff;
}